<div class="action-buttons">
    <button (click)="formLoadingTrigger.next('user')" type="button">Load User Form</button>
    <button (click)="formLoadingTrigger.next('company')" type="button">Load Company Form</button>
</div>
<div class="dynamic-form-container" *ngIf="formConfig$ | async as formConfig">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h3>{{formConfig.description}}</h3>
        <div class="form-field" *ngFor="let control of formConfig.controls | keyvalue">
            <label [for]="control.key">{{control.value.label}}</label>

            <!-- Render Controls -->
            <!-- This approach is not scalable, now we only have 2 types of controls, as soon as
            we add more number of controls to our form, this template will grow very quickly -->

            <!-- What we can do is we can extract each control type to separate component. -->
            <!-- ngComponentOutlet needs a class constructor -->

            <!-- ngComponentOutlet is a declarative way to create components and doesn't provide a way to 
            pass inputs to the component -->
            <!-- But how to pass data to components? -->
            <!-- We can use DI => cool thing is ngComponentOutlet Directive allows configuring
            the parent injector for the component that will be dynamically created. -->
            <!-- Each component will get their own injector and their own config. -->
            <ng-containter 
            [ngComponentOutlet]="dynamicComponentResolver.resolve(control.value.controlType)"
            [ngComponentOutletInjector]="control.key | controlInjector : control.value"
            >
            </ng-containter>

                
                <div class="input-error" *ngIf="form.get(control.key)?.dirty && form.get(control.key)?.hasError('required')">
                    This field is required
                </div>
                <div class="input-error" *ngIf="form.get(control.key)?.dirty && form.get(control.key)?.hasError('email')">
                    This field requires email
                </div>
                <div class="input-error" *ngIf="form.get(control.key)?.dirty && form.get(control.key)?.hasError('minlength')">
                    This field requires atleast {{form.get(control.key)?.errors?.['minlength']?.['requiredLength']}} characters
                </div>



        </div>
        <button type="submit">Save</button>
    </form>
</div>