<div class="action-buttons">
    <button (click)="formLoadingTrigger.next('user')" type="button">Load User Form</button>
    <button (click)="formLoadingTrigger.next('company')" type="button">Load Company Form</button>
</div>
<div class="dynamic-form-container" *ngIf="formConfig$ | async as formConfig">
    <form [formGroup]="form">
        <h3>{{formConfig.description}}</h3>
        <div class="form-field" *ngFor="let control of formConfig.controls | keyvalue">
            <label [for]="control.key">{{control.value.label}}</label>

            <!-- Render Controls -->
            <ng-container [ngSwitch]="control.value.controlType">

                <input 
                [type]="control.value.type" 
                [value]="control.value.value"
                [id]="control.key"
                [formControlName]="control.key"
                *ngSwitchCase="'input'"
                >
                
                <ng-container  *ngSwitchCase="'select'">
                    <select 
                    [value]="control.value.value"
                    [id]="control.key"
                    [formControlName]="control.key"
                    >
                        <option *ngFor="let option of control.value.options" [value]="option.label">
                            {{option.label}}
                        </option>
                    </select>
                </ng-container>
                
                <div class="input-error" *ngIf="form.get(control.key)?.dirty && form.get(control.key)?.hasError('required')">
                    This field is required
                </div>
                <div class="input-error" *ngIf="form.get(control.key)?.dirty && form.get(control.key)?.hasError('email')">
                    This field requires email
                </div>
                <div class="input-error" *ngIf="form.get(control.key)?.dirty && form.get(control.key)?.hasError('minlength')">
                    This field requires atleast {{form.get(control.key)?.errors?.['minlength']?.['requiredLength']}} characters
                </div>



            </ng-container>
        </div>
    </form>
</div>